<div class="container-fluid">
  <div class="row">
    <div class="col-8 offset-3">
      <div class="input-group mt-5">
        <div [formGroup]="movieForm">
          <button class="btn btn-outline-secondary" type="button" id="search-button" (click)="retrieveMovie()" >Search</button>
          <input [formControl]="title" type="text" formControlName="title" class="form-control" aria-label="Input text with search button addon" aria-describedby="button-addon">
        </div>
      </div>
    </div>
  </div>
  <div class="row">

  </div>
</div>
